* {
	font-family: 'Open Sans', sans-serif;
}

footer {
	height: 100px;
	background-color: #a3c614;
	color: #546707;
	padding: 40px;
}

#main {
	text-align: center;
	background-image: url('../img/header.png');
	background-repeat: no-repeat;
	background-position: left;
	background-color: #0086cd;
	min-height: 138px;
	margin-top: 50px;
}

#detail {
	text-align: center;
}

.icon {
	width: 20px;
}

footer ul>li {
	display: inline-block;
}

footer ul>li a {
	text-decoration: none;
	color: #546707;
}

footer ul>li a:hover {
	text-decoration: none;
}

.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.title {
	margin-top: 20px;
}


.field {
	background-color: #EDEAF6;
}

.field .image {
	background-image: url('../img/bkg_foto2.png');
	background-repeat: no-repeat;
	background-position: center;
  	background-size: cover;
	margin-bottom: 10px;
}


.track .image {
	background-image: url('../img/bkg_foto.png');
	background-repeat: no-repeat;
	background-position: center;
  	background-size: cover;
	margin-bottom: 10px;
}

.track {
	background-color: #FFFDED;
}

.card {
	padding: 0;
	margin-left: 10px;
	height: 950px;
}

.cards {
	margin-top: 20px;
}

.image img {
	padding: 5%;
	height: 300px;
  	width: 450px;
}