<h1>FAQ</h1>

<h2>O que são as classificações funcionais?</h2>
<p>Foram criadas de modo a organizar os atletas de acordo com sua deficiência e o impacto no desempenho esportivo. O objetivo é que todos os competidores participem de uma prova em condições semelhantes.</p>

<h2>O que significam as letras e os números?</h2>
<p>As letras normalmente significam que tipo de prova o atleta participa. Exemplo: no atletismo, quem recebe a letra ‘T’ (do inglês track= pista) participa das provas de pista e quem recebe a letra ‘F’ (do inglês field= campo) participa das provas de campo. Na natação, todas as classificações começam com ‘S’ (do inglês swimming=natação). Quando recebem o acréscimo da letra ‘B’ (do inglês breaststroke=peito) significa que é um nadador em prova de nado de peito. O mesmo acontece no nado medley que recebe a letra ‘M’.<br/>
Os números da dezena têm relação direta com o tipo de comprometimento e os números da unidade o grau de comprometimento. Os menores números na unidade indiciam maior grau de comprometimento. Exemplo: Um competidor do atletismo da classe T13. T=pista, 1= deficiência visual, 3=grau de comprometimento da visão. Um atleta da classe T13 tem menos comprometimento da visão do que um da classe T11.</p>

<h2>As classificações funcionais são iguais em todos os esportes?<h2>
<p>Não. Cada esporte seu formato próprio de classificação funcional, definidos pelas federações internacionais. Tais formatos podem ser revistos, se necessário.</p>

<h2>Como e quem avalia o grau de comprometimento?</h2>
<p>Quem avalia são os classificadores funcionais.<br/>
Normalmente o atleta é avaliado por um classificador médico (médico ou fisioterapeuta) e um classificador técnico (profissional do esporte com ampla experiência na modalidade). 
No caso de deficiência visual, a avaliação é feita por um oftalmologista ou optometrista. 
Psicólogos e especialistas desportivos são responsáveis pela classificação dos atletas com deficiência intelectual.</p>

<h2>A categorização é estática ou cada atleta deve passar por nova avaliação a cada Jogos Paralímpicos?</h2>
<p>A avaliação do atleta ocorre antes das competições. Dependendo do tipo e da gravidade da lesão, um atleta pode passar por avaliação várias vezes. Por exemplo: A acuidade visual pode diminuir ao longo do tempo e, assim, o atleta pode mudar de classe funcional ao longo da carreira.</p>

<h2>Atletas com diferentes classificações funcionais podem competir juntos?</h2>
<p>Sim. Normalmente isso ocorre quando uma prova não tem o número de atletas necessários para sua realização. A praxe é o agrupamento de atletas com problemas semelhantes. Não ocorre de atletas cadeirantes competirem juntos atletas com deficiência visual, por exemplo.</p>

<h2>A classificação funcional habilita um atleta a participar apenas de uma prova?</h2>
<p>Não. No atletismo, por exemplo, a classificação funcional permite a participação de um atleta em mais de uma prova. Exemplo: um atleta pode participar de várias provas de corrida com uma mesma classificação funcional.</p>

<p>Fontes: Comitê Paralímpico Brasileiro</p>