<h1>Deficiências elegíveis para ser um paratleta olímpico</h1>
 
<p>Para uma pessoa com deficiência física, visual e/ou intelectual se tornar um atleta paralímpico, ela precisa ter, pelo menos, um dos 10 tipos de comprometimentos abaixo:</p>

<p><strong>Perda  de  força  muscular</strong>  –  Redução da força gerada pelos músculos ou grupos musculares. Pode atingir um ou mais membros do corpo e pode ser causada por lesões na medula espinal, spina bífida, poliomielite, entre outras.</p>

<p><strong>Diminuição  da  amplitude  de  movimentor</strong> – Uma pessoa pode ter a diminuição da amplitude de seu movimento devido à problemas causados por artrite, reumatóide, artrose e bloqueio cirúrgico após graves fraturas.</p>

<p><strong>Deficiência  em  membrosr</strong> - Ausência total ou parcial de algum membro (ossos ou articulações) desde o nascimento, devido à consequência do trauma (amputações dos membros, em casos de acidente automotivos) ou doença (como o câncer ósseo).</p>

<p><strong>Encurtamento de membrosr</strong> -  O encurtamento dos membros superiores ou inferiores pode ser congênito (desde o nascimento) ou relacionado a algum trauma.</p>

<p><strong>Baixa estatura e nanismor</strong> - A redução de altura é devido às condições anormais dos ossos dos membros ou tronco superior e inferior, que pode ser causado por acondroplasia (anormalidade na ossificação das cartilagens ainda no feto) ou disfunção de hormônio do crescimento.</p>

<p><strong>Hipertoniar</strong> - Consiste no aumento anormal do tônus muscular e da redução da capacidade de estiramento. Esse comprometimento afeta, por exemplo, pessoas que sofreram paralisia cerebral e outras patologias neurológicas.</p>

<p><strong>Ataxiar</strong> - Falta de coordenação dos movimentos musculares, como andar ou pegar objetos, devido a uma condição neurológica como paralisia cerebral e esclerose múltipla.</p>

<p><strong>Atetoser</strong> - Sintoma neuromotor caracterizado pelo movimento lento, involuntário, contorcido e com tremor nos braços, pernas, língua e pescoço. Além disso, também é possível perceber  dificuldades em manter uma postura simétrica, por causa de uma lesão cerebral, paralisia cerebral ou outras condições. </p>

<p><strong>Deficiência visualr</strong> - A visão é afetada por algum comprometimento da estrutura do olho, do nervo/vias ópticas ou parte do cérebro que comanda a visão (córtex visual).</p>

<p><strong>Deficiência  intelectualr</strong>  – Caracterizada por uma limitação no funcionamento intelectual e  de comportamento adaptativo, que se origina antes da idade de 18 anos. </p>

<p>A presença de algum comprometimento elegível para o Esporte Paralímpico deve ser comprovada  por  meio  de  informações  médicas  através  de  laudo  e  exames complementares e devem ser apresentados no momento da avaliação atleta.</p>

<p>Fonte: Comitê Paralímpico Brasileiro</p>